@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
}

.container {
  margin: 10px auto;
}

table {
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid #333;
}

ul,
ol {
  display: table;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: 100px 100px 100px 100px;
}

.grid-item {
  border: 1px solid #333;
}

.form-box {
  width: 400px;
  margin: auto;
}

.input-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  vertical-align: center;
}

.form-group {
  margin-bottom: 1rem;
}
